<div class="container">
  <h1>Score</h1>
  <p><%= params[:word] %></p>
  <div class="link">
    <%= link_to "Play again", new_path %>
  </div>
  <p><%= @result %></p>
  <p><%= @neater_grid %></p>
  <p><%= @english_word %></p>
</div>
